### sequence data set

In [1]:
mynm="DAKAMARI VASU"  #normal string
print(mynm)

DAKAMARI VASU

In [3]:
myfamilynm=["Vasu","govind","Varalakshmi","lavanya"]  #Creating a list multi strings
myclg=["vasu",55,"tanush",51,55,51,13,43]   #string can have dublictae values also
print(myfamilynm)
print(myclg)

['Vasu', 'govind', 'Varalakshmi', 'lavanya']
['vasu', 55, 'tanush', 51, 55, 51, 13, 43]

In [6]:
from array import *  #importing the arrays module
samplearray= array("i",[1,2,3,4,5,6,7,8,9,0]) #insilising the array
print(samplearray)
for x in samplearray : print(x)

array('i', [1, 2, 3, 4, 5, 6, 7, 8, 9, 0])
1
2
3
4
5
6
7
8
9
0

# Numpy

In [1]:
#creating a numpy array
my_list=[1,2,3,4,5,6]
import numpy as np
array=np.array(my_list,dtype=int)
print(array)

[1 2 3 4 5 6]

In [2]:
print(len(array)) # length of array
print(type(array))# tupe of the array
print(array.ndim)# diamenstions of the array
print(array.shape)# shape of array
arr=array.reshape(3,2) #reshaping the array
print(arr)
print(arr.shape)

6
<class 'numpy.ndarray'>
1
(6,)
[[1 2]
 [3 4]
 [5 6]]
(3, 2)

In [19]:
import numpy as np
lst1=[1,2,3,4,5,6,7,8,9,0]
lst2=[1,2,3,4,5,6,7,8,9,0]
lst3=[1,2,3,4,5,6,7,8,9,0]
arr=np.array([lst1,lst2,lst3])
print("the normal arraya is :",arr)
print("the Type arraya is :",type(arr))
print("the length arraya is :",len(arr))
print("the diamensions of arraya is :",arr.ndim)
print("the shape of arraya is :",arr.shape)
arr1=array.reshape(3,2)
print("the new arraya is :",arr1)
print("the new reshape arraya is :",arr1.shape)
a=np.arange(26)
print(a)

the normal arraya is : [[1 2 3 4 5 6 7 8 9 0]
 [1 2 3 4 5 6 7 8 9 0]
 [1 2 3 4 5 6 7 8 9 0]]
the Type arraya is : <class 'numpy.ndarray'>
the length arraya is : 3
the diamensions of arraya is : 2
the shape of arraya is : (3, 10)
the new arraya is : [[1 2]
 [3 4]
 [5 6]]
the new reshape arraya is : (3, 2)
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25]

# pandas

In [3]:
import os
import pandas as pd
data_frame = pd.read_csv("D:\machinelearning\employees.csv")
print(data_frame)

    employ_id   first_name    last_name     email        phone_number  \
0         100       Steven         King     SKING        515.123.4567
1         101        Neena      Kochhar  NKOCHHAR        515.123.4568
2         102          Lex      De Haan   LDEHAAN        515.123.4569
3         103    Alexander       Hunold   AHUNOLD        590.423.4567
4         104        Bruce        Ernst    BERNST        590.423.4568
5         105        David       Austin   DAUSTIN        590.423.4569
6         106        Valli    Pataballa  VPATABAL        590.423.4560
7         107        Diana      Lorentz  DLORENTZ        590.423.5567
8         108        Nancy    Greenberg  NGREENBE        515.124.4569
9         109       Daniel       Faviet   DFAVIET        515.124.4169
10        110         John         Chen     JCHEN        515.124.4269
11        111       Ismael      Sciarra  ISCIARRA        515.124.4369
12        112  Jose Manuel        Urman   JMURMAN        515.124.4469
13        113         Luis         Popp     LPOPP        515.124.4567
14        114          Den     Raphaely  DRAPHEAL        515.127.4561
15        115    Alexander         Khoo     AKHOO        515.127.4562
16        116       Shelli        Baida    SBAIDA        515.127.4563
17        117        Sigal       Tobias   STOBIAS        515.127.4564
18        118          Guy       Himuro   GHIMURO        515.127.4565
19        119        Karen   Colmenares  KCOLMENA        515.127.4566
20        120      Matthew        Weiss    MWEISS        650.123.1234
21        121         Adam        Fripp    AFRIPP        650.123.2234
22        122        Payam     Kaufling  PKAUFLIN        650.123.3234
23        123       Shanta      Vollman  SVOLLMAN        650.123.4234
24        124        Kevin      Mourgos  KMOURGOS        650.123.5234
25        125        Julia        Nayer    JNAYER        650.124.1214
26        126        Irene  Mikkilineni  IMIKKILI        650.124.1224
27        127        James       Landry   JLANDRY        650.124.1334
28        128       Steven       Markle   SMARKLE        650.124.1434
29        129        Laura       Bissot   LBISSOT        650.124.5234
30        130        Mozhe     Atkinson  MATKINSO        650.124.6234
31        131        James       Marlow   JAMRLOW        650.124.7234
32        132           TJ        Olson   TJOLSON        650.124.8234
33        133        Jason       Mallin   JMALLIN        650.127.1934
34        134      Michael       Rogers   MROGERS        650.127.1834
35        135           Ki          Gee      KGEE        650.127.1734
36        136        Hazel   Philtanker  HPHILTAN        650.127.1634
37        137       Renske       Ladwig   RLADWIG        650.121.1234
38        138      Stephen       Stiles   SSTILES        650.121.2034
39        139         John          Seo      JSEO        650.121.2019
40        140       Joshua        Patel    JPATEL        650.121.1834
41        141       Trenna         Rajs     TRAJS        650.121.8009
42        142       Curtis       Davies   CDAVIES        650.121.2994
43        143      Randall        Matos    RMATOS        650.121.2874
44        144        Peter       Vargas   PVARGAS        650.121.2004
45        145         John      Russell   JRUSSEL  011.44.1344.429268
46        146        Karen     Partners  KPARTNER  011.44.1344.467268
47        147      Alberto    Errazuriz  AERRAZUR  011.44.1344.429278
48        148       Gerald    Cambrault  GCAMBRAU  011.44.1344.619268
49        149        Eleni      Zlotkey  EZLOTKEY  011.44.1344.429018
50        150        Peter       Tucker   PTUCKER  011.44.1344.129268

     hire_date      job_id  salary  commission_pct  manager_id  department_id
0   1987-06-17     AD_PRES   24000             NaN         NaN             90
1   1987-06-18       AD_VP   17000             NaN       100.0             90
2   1987-06-19       AD_VP   17000             NaN       100.0             90
3   1987-06-20     IT_PROG    9000             NaN       102.0             60
4   1987-06-21     IT_PROG    6000             NaN       103.0             60
5   1987-06-22     IT_PROG    4800             NaN       103.0             60
6   1987-06-23     IT_PROG    4800             NaN       103.0             60
7   1987-06-24     IT_PROG    4200             NaN       103.0             60
8   1987-06-25      FI_MGR   12000             NaN       101.0            100
9   1987-06-26  FI_ACCOUNT    9000             NaN       108.0            100
10  1987-06-27  FI_ACCOUNT    8200             NaN       108.0            100
11  1987-06-28  FI_ACCOUNT    7700             NaN       108.0            100
12  1987-06-29  FI_ACCOUNT    7800             NaN       108.0            100
13  1987-06-30  FI_ACCOUNT    6900             NaN       108.0            100
14  1987-07-01      PU_MAN   11000             NaN       100.0             30
15  1987-07-02    PU_CLERK    3100             NaN       114.0             30
16  1987-07-03    PU_CLERK    2900             NaN       114.0             30
17  1987-07-04    PU_CLERK    2800             NaN       114.0             30
18  1987-07-05    PU_CLERK    2600             NaN       114.0             30
19  1987-07-06    PU_CLERK    2500             NaN       114.0             30
20  1987-07-07      ST_MAN    8000             NaN       100.0             50
21  1987-07-08      ST_MAN    8200             NaN       100.0             50
22  1987-07-09      ST_MAN    7900             NaN       100.0             50
23  1987-07-10      ST_MAN    6500             NaN       100.0             50
24  1987-07-11      ST_MAN    5800             NaN       100.0             50
25  1987-07-12    ST_CLERK    3200             NaN       120.0             50
26  1987-07-13    ST_CLERK    2700             NaN       120.0             50
27  1987-07-14    ST_CLERK    2400             NaN       120.0             50
28  1987-07-15    ST_CLERK    2200             NaN       120.0             50
29  1987-07-16    ST_CLERK    3300             NaN       121.0             50
30  1987-07-17    ST_CLERK    2800             NaN       121.0             50
31  1987-07-18    ST_CLERK    2500             NaN       121.0             50
32  1987-07-19    ST_CLERK    2100             NaN       121.0             50
33  1987-07-20    ST_CLERK    3300             NaN       122.0             50
34  1987-07-21    ST_CLERK    2900             NaN       122.0             50
35  1987-07-22    ST_CLERK    2400             NaN       122.0             50
36  1987-07-23    ST_CLERK    2200             NaN       122.0             50
37  1987-07-24    ST_CLERK    3600             NaN       123.0             50
38  1987-07-25    ST_CLERK    3200             NaN       123.0             50
39  1987-07-26    ST_CLERK    2700             NaN       123.0             50
40  1987-07-27    ST_CLERK    2500             NaN       123.0             50
41  1987-07-28    ST_CLERK    3500             NaN       124.0             50
42  1987-07-29    ST_CLERK    3100             NaN       124.0             50
43  1987-07-30    ST_CLERK    2600             NaN       124.0             50
44  1987-07-31    ST_CLERK    2500             NaN       124.0             50
45  1987-08-01      SA_MAN   14000             0.4       100.0             80
46  1987-08-02      SA_MAN   13500             0.3       100.0             80
47  1987-08-03      SA_MAN   12000             0.3       100.0             80
48  1987-08-04      SA_MAN   11000             0.3       100.0             80
49  1987-08-05      SA_MAN   10500             0.2       100.0             80
50  1987-08-06      SA_REP   10000             0.3       145.0             80

In [4]:
samp=data_frame.copy(deep=True)
print(samp)

    employ_id   first_name    last_name     email        phone_number  \
0         100       Steven         King     SKING        515.123.4567
1         101        Neena      Kochhar  NKOCHHAR        515.123.4568
2         102          Lex      De Haan   LDEHAAN        515.123.4569
3         103    Alexander       Hunold   AHUNOLD        590.423.4567
4         104        Bruce        Ernst    BERNST        590.423.4568
5         105        David       Austin   DAUSTIN        590.423.4569
6         106        Valli    Pataballa  VPATABAL        590.423.4560
7         107        Diana      Lorentz  DLORENTZ        590.423.5567
8         108        Nancy    Greenberg  NGREENBE        515.124.4569
9         109       Daniel       Faviet   DFAVIET        515.124.4169
10        110         John         Chen     JCHEN        515.124.4269
11        111       Ismael      Sciarra  ISCIARRA        515.124.4369
12        112  Jose Manuel        Urman   JMURMAN        515.124.4469
13        113         Luis         Popp     LPOPP        515.124.4567
14        114          Den     Raphaely  DRAPHEAL        515.127.4561
15        115    Alexander         Khoo     AKHOO        515.127.4562
16        116       Shelli        Baida    SBAIDA        515.127.4563
17        117        Sigal       Tobias   STOBIAS        515.127.4564
18        118          Guy       Himuro   GHIMURO        515.127.4565
19        119        Karen   Colmenares  KCOLMENA        515.127.4566
20        120      Matthew        Weiss    MWEISS        650.123.1234
21        121         Adam        Fripp    AFRIPP        650.123.2234
22        122        Payam     Kaufling  PKAUFLIN        650.123.3234
23        123       Shanta      Vollman  SVOLLMAN        650.123.4234
24        124        Kevin      Mourgos  KMOURGOS        650.123.5234
25        125        Julia        Nayer    JNAYER        650.124.1214
26        126        Irene  Mikkilineni  IMIKKILI        650.124.1224
27        127        James       Landry   JLANDRY        650.124.1334
28        128       Steven       Markle   SMARKLE        650.124.1434
29        129        Laura       Bissot   LBISSOT        650.124.5234
30        130        Mozhe     Atkinson  MATKINSO        650.124.6234
31        131        James       Marlow   JAMRLOW        650.124.7234
32        132           TJ        Olson   TJOLSON        650.124.8234
33        133        Jason       Mallin   JMALLIN        650.127.1934
34        134      Michael       Rogers   MROGERS        650.127.1834
35        135           Ki          Gee      KGEE        650.127.1734
36        136        Hazel   Philtanker  HPHILTAN        650.127.1634
37        137       Renske       Ladwig   RLADWIG        650.121.1234
38        138      Stephen       Stiles   SSTILES        650.121.2034
39        139         John          Seo      JSEO        650.121.2019
40        140       Joshua        Patel    JPATEL        650.121.1834
41        141       Trenna         Rajs     TRAJS        650.121.8009
42        142       Curtis       Davies   CDAVIES        650.121.2994
43        143      Randall        Matos    RMATOS        650.121.2874
44        144        Peter       Vargas   PVARGAS        650.121.2004
45        145         John      Russell   JRUSSEL  011.44.1344.429268
46        146        Karen     Partners  KPARTNER  011.44.1344.467268
47        147      Alberto    Errazuriz  AERRAZUR  011.44.1344.429278
48        148       Gerald    Cambrault  GCAMBRAU  011.44.1344.619268
49        149        Eleni      Zlotkey  EZLOTKEY  011.44.1344.429018
50        150        Peter       Tucker   PTUCKER  011.44.1344.129268

     hire_date      job_id  salary  commission_pct  manager_id  department_id
0   1987-06-17     AD_PRES   24000             NaN         NaN             90
1   1987-06-18       AD_VP   17000             NaN       100.0             90
2   1987-06-19       AD_VP   17000             NaN       100.0             90
3   1987-06-20     IT_PROG    9000             NaN       102.0             60
4   1987-06-21     IT_PROG    6000             NaN       103.0             60
5   1987-06-22     IT_PROG    4800             NaN       103.0             60
6   1987-06-23     IT_PROG    4800             NaN       103.0             60
7   1987-06-24     IT_PROG    4200             NaN       103.0             60
8   1987-06-25      FI_MGR   12000             NaN       101.0            100
9   1987-06-26  FI_ACCOUNT    9000             NaN       108.0            100
10  1987-06-27  FI_ACCOUNT    8200             NaN       108.0            100
11  1987-06-28  FI_ACCOUNT    7700             NaN       108.0            100
12  1987-06-29  FI_ACCOUNT    7800             NaN       108.0            100
13  1987-06-30  FI_ACCOUNT    6900             NaN       108.0            100
14  1987-07-01      PU_MAN   11000             NaN       100.0             30
15  1987-07-02    PU_CLERK    3100             NaN       114.0             30
16  1987-07-03    PU_CLERK    2900             NaN       114.0             30
17  1987-07-04    PU_CLERK    2800             NaN       114.0             30
18  1987-07-05    PU_CLERK    2600             NaN       114.0             30
19  1987-07-06    PU_CLERK    2500             NaN       114.0             30
20  1987-07-07      ST_MAN    8000             NaN       100.0             50
21  1987-07-08      ST_MAN    8200             NaN       100.0             50
22  1987-07-09      ST_MAN    7900             NaN       100.0             50
23  1987-07-10      ST_MAN    6500             NaN       100.0             50
24  1987-07-11      ST_MAN    5800             NaN       100.0             50
25  1987-07-12    ST_CLERK    3200             NaN       120.0             50
26  1987-07-13    ST_CLERK    2700             NaN       120.0             50
27  1987-07-14    ST_CLERK    2400             NaN       120.0             50
28  1987-07-15    ST_CLERK    2200             NaN       120.0             50
29  1987-07-16    ST_CLERK    3300             NaN       121.0             50
30  1987-07-17    ST_CLERK    2800             NaN       121.0             50
31  1987-07-18    ST_CLERK    2500             NaN       121.0             50
32  1987-07-19    ST_CLERK    2100             NaN       121.0             50
33  1987-07-20    ST_CLERK    3300             NaN       122.0             50
34  1987-07-21    ST_CLERK    2900             NaN       122.0             50
35  1987-07-22    ST_CLERK    2400             NaN       122.0             50
36  1987-07-23    ST_CLERK    2200             NaN       122.0             50
37  1987-07-24    ST_CLERK    3600             NaN       123.0             50
38  1987-07-25    ST_CLERK    3200             NaN       123.0             50
39  1987-07-26    ST_CLERK    2700             NaN       123.0             50
40  1987-07-27    ST_CLERK    2500             NaN       123.0             50
41  1987-07-28    ST_CLERK    3500             NaN       124.0             50
42  1987-07-29    ST_CLERK    3100             NaN       124.0             50
43  1987-07-30    ST_CLERK    2600             NaN       124.0             50
44  1987-07-31    ST_CLERK    2500             NaN       124.0             50
45  1987-08-01      SA_MAN   14000             0.4       100.0             80
46  1987-08-02      SA_MAN   13500             0.3       100.0             80
47  1987-08-03      SA_MAN   12000             0.3       100.0             80
48  1987-08-04      SA_MAN   11000             0.3       100.0             80
49  1987-08-05      SA_MAN   10500             0.2       100.0             80
50  1987-08-06      SA_REP   10000             0.3       145.0             80

In [4]:
import os
import pandas as pd
data_frame = pd.read_csv("D:\machinelearning\employees.csv")
print(data_frame)

    employ_id   first_name    last_name     email        phone_number  \
0         100       Steven         King     SKING        515.123.4567
1         101        Neena      Kochhar  NKOCHHAR        515.123.4568
2         102          Lex      De Haan   LDEHAAN        515.123.4569
3         103    Alexander       Hunold   AHUNOLD        590.423.4567
4         104        Bruce        Ernst    BERNST        590.423.4568
5         105        David       Austin   DAUSTIN        590.423.4569
6         106        Valli    Pataballa  VPATABAL        590.423.4560
7         107        Diana      Lorentz  DLORENTZ        590.423.5567
8         108        Nancy    Greenberg  NGREENBE        515.124.4569
9         109       Daniel       Faviet   DFAVIET        515.124.4169
10        110         John         Chen     JCHEN        515.124.4269
11        111       Ismael      Sciarra  ISCIARRA        515.124.4369
12        112  Jose Manuel        Urman   JMURMAN        515.124.4469
13        113         Luis         Popp     LPOPP        515.124.4567
14        114          Den     Raphaely  DRAPHEAL        515.127.4561
15        115    Alexander         Khoo     AKHOO        515.127.4562
16        116       Shelli        Baida    SBAIDA        515.127.4563
17        117        Sigal       Tobias   STOBIAS        515.127.4564
18        118          Guy       Himuro   GHIMURO        515.127.4565
19        119        Karen   Colmenares  KCOLMENA        515.127.4566
20        120      Matthew        Weiss    MWEISS        650.123.1234
21        121         Adam        Fripp    AFRIPP        650.123.2234
22        122        Payam     Kaufling  PKAUFLIN        650.123.3234
23        123       Shanta      Vollman  SVOLLMAN        650.123.4234
24        124        Kevin      Mourgos  KMOURGOS        650.123.5234
25        125        Julia        Nayer    JNAYER        650.124.1214
26        126        Irene  Mikkilineni  IMIKKILI        650.124.1224
27        127        James       Landry   JLANDRY        650.124.1334
28        128       Steven       Markle   SMARKLE        650.124.1434
29        129        Laura       Bissot   LBISSOT        650.124.5234
30        130        Mozhe     Atkinson  MATKINSO        650.124.6234
31        131        James       Marlow   JAMRLOW        650.124.7234
32        132           TJ        Olson   TJOLSON        650.124.8234
33        133        Jason       Mallin   JMALLIN        650.127.1934
34        134      Michael       Rogers   MROGERS        650.127.1834
35        135           Ki          Gee      KGEE        650.127.1734
36        136        Hazel   Philtanker  HPHILTAN        650.127.1634
37        137       Renske       Ladwig   RLADWIG        650.121.1234
38        138      Stephen       Stiles   SSTILES        650.121.2034
39        139         John          Seo      JSEO        650.121.2019
40        140       Joshua        Patel    JPATEL        650.121.1834
41        141       Trenna         Rajs     TRAJS        650.121.8009
42        142       Curtis       Davies   CDAVIES        650.121.2994
43        143      Randall        Matos    RMATOS        650.121.2874
44        144        Peter       Vargas   PVARGAS        650.121.2004
45        145         John      Russell   JRUSSEL  011.44.1344.429268
46        146        Karen     Partners  KPARTNER  011.44.1344.467268
47        147      Alberto    Errazuriz  AERRAZUR  011.44.1344.429278
48        148       Gerald    Cambrault  GCAMBRAU  011.44.1344.619268
49        149        Eleni      Zlotkey  EZLOTKEY  011.44.1344.429018
50        150        Peter       Tucker   PTUCKER  011.44.1344.129268

     hire_date      job_id  salary  commission_pct  manager_id  department_id
0   1987-06-17     AD_PRES   24000             NaN         NaN             90
1   1987-06-18       AD_VP   17000             NaN       100.0             90
2   1987-06-19       AD_VP   17000             NaN       100.0             90
3   1987-06-20     IT_PROG    9000             NaN       102.0             60
4   1987-06-21     IT_PROG    6000             NaN       103.0             60
5   1987-06-22     IT_PROG    4800             NaN       103.0             60
6   1987-06-23     IT_PROG    4800             NaN       103.0             60
7   1987-06-24     IT_PROG    4200             NaN       103.0             60
8   1987-06-25      FI_MGR   12000             NaN       101.0            100
9   1987-06-26  FI_ACCOUNT    9000             NaN       108.0            100
10  1987-06-27  FI_ACCOUNT    8200             NaN       108.0            100
11  1987-06-28  FI_ACCOUNT    7700             NaN       108.0            100
12  1987-06-29  FI_ACCOUNT    7800             NaN       108.0            100
13  1987-06-30  FI_ACCOUNT    6900             NaN       108.0            100
14  1987-07-01      PU_MAN   11000             NaN       100.0             30
15  1987-07-02    PU_CLERK    3100             NaN       114.0             30
16  1987-07-03    PU_CLERK    2900             NaN       114.0             30
17  1987-07-04    PU_CLERK    2800             NaN       114.0             30
18  1987-07-05    PU_CLERK    2600             NaN       114.0             30
19  1987-07-06    PU_CLERK    2500             NaN       114.0             30
20  1987-07-07      ST_MAN    8000             NaN       100.0             50
21  1987-07-08      ST_MAN    8200             NaN       100.0             50
22  1987-07-09      ST_MAN    7900             NaN       100.0             50
23  1987-07-10      ST_MAN    6500             NaN       100.0             50
24  1987-07-11      ST_MAN    5800             NaN       100.0             50
25  1987-07-12    ST_CLERK    3200             NaN       120.0             50
26  1987-07-13    ST_CLERK    2700             NaN       120.0             50
27  1987-07-14    ST_CLERK    2400             NaN       120.0             50
28  1987-07-15    ST_CLERK    2200             NaN       120.0             50
29  1987-07-16    ST_CLERK    3300             NaN       121.0             50
30  1987-07-17    ST_CLERK    2800             NaN       121.0             50
31  1987-07-18    ST_CLERK    2500             NaN       121.0             50
32  1987-07-19    ST_CLERK    2100             NaN       121.0             50
33  1987-07-20    ST_CLERK    3300             NaN       122.0             50
34  1987-07-21    ST_CLERK    2900             NaN       122.0             50
35  1987-07-22    ST_CLERK    2400             NaN       122.0             50
36  1987-07-23    ST_CLERK    2200             NaN       122.0             50
37  1987-07-24    ST_CLERK    3600             NaN       123.0             50
38  1987-07-25    ST_CLERK    3200             NaN       123.0             50
39  1987-07-26    ST_CLERK    2700             NaN       123.0             50
40  1987-07-27    ST_CLERK    2500             NaN       123.0             50
41  1987-07-28    ST_CLERK    3500             NaN       124.0             50
42  1987-07-29    ST_CLERK    3100             NaN       124.0             50
43  1987-07-30    ST_CLERK    2600             NaN       124.0             50
44  1987-07-31    ST_CLERK    2500             NaN       124.0             50
45  1987-08-01      SA_MAN   14000             0.4       100.0             80
46  1987-08-02      SA_MAN   13500             0.3       100.0             80
47  1987-08-03      SA_MAN   12000             0.3       100.0             80
48  1987-08-04      SA_MAN   11000             0.3       100.0             80
49  1987-08-05      SA_MAN   10500             0.2       100.0             80
50  1987-08-06      SA_REP   10000             0.3       145.0             80

In [14]:
rollno=pd.read_excel("AIML_rolls.xls")
rollno

,AIML- I Sem (Section - A),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
51,51,20951A6651,PENNABADI TANUSH KUMAR REDDY,PENNABADI MADHUSUDANA REDDY,M,AIML,34,1,A,338,M,OC,9391366042,8096344455,INFO@IARE.AC.IN,FEE-NOT-EXEMPTED,2222-Feb-2003200320032003,Studying,R20
52,52,20951A6652,VEMULAPALLY TEJASWINI,VEMULAPALLY SRINIVAS RAO,F,AIML,34,1,A,338,M,OC,9110399068,9440607936,INFO@IARE.AC.IN,FEE-NOT-EXEMPTED,2828-Sep-2003200320032003,Studying,R20
53,53,20951A6653,JAKKAMPUDI VARUN,JAKKAMPUDI VINOD,M,AIML,34,1,A,338,M,OC,7337530755,7075226909,VARUNJAKKAMPUDI2322@GMAIL.COM,FEE-NOT-EXEMPTED,1616-Nov-2003200320032003,Studying,R20
54,54,20951A6654,VEERLA VARUN,VEERLA KIRAN KUMAR,M,AIML,34,1,A,338,M,BC-D,8106409349,8019172876,VEERLAVARUN2003@GMAIL.COM,FEE-NOT-EXEMPTED,1111-May-2003200320032003,Studying,R20
55,55,20951A6655,DAKAMARI VASU,DAKAMARI GOVINDU,M,AIML,34,1,A,338,C,BC-A,9392883297,9948923528,vasudakamari@gmail.com,FEE-EXEMPTED,2020-Mar-2002200220022002,Studying,R20
56,56,20951A6656,GUMMADAVELLI NIKHIL,GUMMADAVELLI RATHISH,M,AIML,34,1,A,338,M,OC,9000079398,9849067328,INFO@IARE.AC.IN,FEE-NOT-EXEMPTED,0404-Dec-2002200220022002,Studying,R20
57,57,20951A6657,DASARI VENKATA AKHIL,DASARI VENKATESWARLU,M,AIML,34,1,A,338,C,BC-D,7981701352,9849591767,dasariakhil4518@gmail.com,FEE-EXEMPTED,1010-Dec-2002200220022002,Studying,R20
58,58,20951A6658,KALLAGUNTA VISHNU VARDHAN,KALLAGUNTA MADHAVA,M,AIML,34,1,A,338,C,BC-A,9347650766,9133608476,VISHNUVARDHANKALLAGUNTA4@GMAIL.COM,FEE-EXEMPTED,0505-Jul-2002200220022002,Studying,R20
59,59,20951A6659,SURGI YASHASRI,SURGI JANGAIAH,F,AIML,34,1,A,338,M,-,8688239496,9247380475,INFO@IARE.AC.IN,FEE-NOT-EXEMPTED,2121-Apr-2003200320032003,Studying,R20
60,60,20951A6660,NALLOJU YASHWANTH KUMAR,NALLOJU JAGADEESH KUMAR,M,AIML,34,1,A,338,M,BC-B,9505057270,9346297270,nallojuy@gmail.com,FEE-NOT-EXEMPTED,2121-Aug-2002200220022002,Studying,R20

In [3]:
def print_formatted(number):
    # your code goes here
    a=n
    b=bin(a)
    c=oct(a)
    d=hex(a)
    for i in range(0,n):
        return ("/n {} {} {} {}".format(a[i],c[i],d[i],b[i]))

if __name__ == '__main__':
    n = int(input())
    print_formatted(n)

5

TypeError: 'int' object is not subscriptable